/* IMAGE LINKS
Ground -> http://files.arrayschool.com/hoc/ground.jpg
Brick Block -> http://files.arrayschool.com/hoc/brick.png
Gold Block - http://files.arrayschool.com/hoc/gold.png
Cloud -> http://files.arrayschool.com/hoc/cloud.png
Pipe -> http://files.arrayschool.com/hoc/pipe.png
Flower 1 -> http://files.arrayschool.com/hoc/flower1.png
Flower 2 -> http://files.arrayschool.com/hoc/flower2.png
*/

body{
  height: 100vh;
  width:  100vw;
  margin: 0;
  background: linear-gradient(#1c8dff, #85eaef);
}

#ground{
  height: 125px;
  width:  100vw;
  background:url('http://files.arrayschool.com/hoc/ground.jpg');
  background-size: 125px 125px;

  position: fixed;
  bottom: 0;

  z-index: 10;
}

.pipe{
  background:url('http://files.arrayschool.com/hoc/pipe.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
}

%cloud{
  background:url('http://files.arrayschool.com/hoc/cloud.png');
  background-size: contain;
  position: fixed;
}

.largeCloud{
  height: 175px;
  width:  175px;
  @extend %cloud;
}

.mediumCloud{
  height: 125px;
  width:  125px;
  @extend %cloud;
}

.smallCloud{
  height: 75px;
  width:  75px;
  @extend %cloud;
}

#c1{
  top: 25%;
  left: 15%;
}

#c2{
  top: 15%;
  left: 25%;
}

#c3{
  top: 10%;
  left: 45%;
}

#p1 {
  height: 250px;
  width:  120px;
  bottom: 10%;
  right:  20%;
}

#p2 {
  height: 250px;
  width: 120px;
  bottom: 5%;
  right:  45%;
}

#blockSet{
  height:  45px;
  width:   45px*6;
  font-size: 0;

  position: fixed;
  bottom: 41%;
  left: 7%;
}

.block{
  height: 45px;
  width:  45px;
  display: inline-block;
}

.brick{
  background:url('http://files.arrayschool.com/hoc/brick.png');
  background-size: contain;
}

.gold{
  background:url('http://files.arrayschool.com/hoc/gold.png');
  background-size: contain;
}

.flower{
  height: 190px;
  width:  67px;
  position: fixed;
  bottom: 37%;
  right:  22.35%;
  background:url('http://files.arrayschool.com/hoc/flower1.png');
  background-size: contain;
  background-repeat: no-repeat;

  animation-name: flowerBite, flowerMove;
  animation-duration: .25s, 2s;
  animation-iteration-count: infinite;
}

@keyframes flowerBite{
  0%{
    background:url('http://files.arrayschool.com/hoc/flower1.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  50%{
    background:url('http://files.arrayschool.com/hoc/flower1.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  100%{
    background:url('http://files.arrayschool.com/hoc/flower2.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@keyframes flowerMove{
  0%{
    bottom:0%;
  }

  25%{
    bottom:30%;
  }

  50%{
    bottom: 30%;
  }

  100%{
    bottom: 0%;
  }
}
